//styles.scss
@import '~bootstrap/scss/bootstrap.scss';

$custom-green: #B5CC22; 
$custom-darkGreen: #677510;
$custom-grey: #F2F2F2;

* {
  box-sizing: border-box;
}
/* 手機樣式 */
@media (max-width: 600px) {
  #mobLogoSection {
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
  #mobLogo {
    margin-left: 10vw;
  }

  .mobBar {
    margin-right: 10vw;
    height: 3vh;
    width: 3vh;
    color: $custom-darkGreen;
  }

  .mobBar:hover {
    cursor: pointer;
  }

  #mobNavSection {
    height: 90vh;
    background-color: $custom-green;
  }

  .mobNavDiv {
    padding-left: 10vw;
    padding-top: 5vh;
  }

  .mobActiveLink,
  .mobNormalLink {
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .mobActiveLink {
    color: $custom-darkGreen ;
  }

  .mobNormalLink {
    color: white;
  }

  #mobLogin {
    padding-left: 10vw;
    padding-top: 32vh;
  }

  .mobActiveBtn {
    color: $custom-darkGreen ;
  }

  .mobNormalBtn {
    color: $custom-green;
  }

  #mobLoginText {
    text-decoration: none;
    background-color: white;
  }

  #stationPic {
    display: none;
  }

  #search-panel {
    display: flex;
    flex-direction: column;
  }

  #stationSelect, #stationSearch {
    width: 80vw;
  }

  #stationSelect {
    margin-bottom: 1vh;
  }

  #thSbi, #thBemp {
    width: 50px;
  }

  #thSbi, #thBemp {
    width: 50px;
  }
}

/* 電腦版樣式 */  
@media (min-width: 600px)  {
  #stationSelect {
    width: 100px;
  }

  #stationSearch {
      margin-left: 30px;
      width: 350px;
    }
  
  #sname {
    padding-left: 50px ;
  }
}

body, html {
  margin: 0;
  padding: 0;
}

#nav {
  height: 10vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
}

#navSection {
  margin-left: 3vw;
  flex: 1; // 填充LOGO後面剩下的寬度
  margin-left: 3vw;
  flex: 1; // 填充LOGO後面剩下的寬度
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

hr.new1 {
  margin: 0;
}

#station-text {
  text-decoration: none;
  color: $custom-green;
  font-weight: bold;
}

#logo {
  margin-left: 5%;
}

#logo img {
  /* https://i.imgur.com/QAbUlXP.png */
  width: 80px;
  height: 80px;
}

.navClass {
  background-color: transparent !important; // avoid .active page setting
  border: none !important;  // avoid .active page setting
  text-decoration: none !important;
  font-weight: bold;
  min-width: 100px;
}

.activeLink, .normalLink {
  background-color: transparent;
  border: none ;
  text-decoration: none;
  font-weight: bold;
  min-width: 100px;
}

.activeLink {
  color: $custom-darkGreen ;
}

.normalLink {
  color: $custom-green;
}

#login {
  margin-left: 25%;
  margin-right: 5%;
}

#login-text, #mobLoginText {
  border-radius: 50px;
}

.activeBtn {
  color: $custom-darkGreen ;
}

.normalBtn {
  color: white;
  background-color: $custom-green ;
}

#login-text {
  text-decoration: none;
  background-color: $custom-green ;
}

#fieldset {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#legend, #search-panel,#mid-panel {
  width: 100%;
  margin-left: 5%;
}

#search-panel {
  display: flex;
}

.option {
  font-weight: bold;
}

#stationSelect {
  height: 6vh;
  font-weight: bold;
}

#stationSearch {
  height: 6vh;
}

#search, #stationSelect {
  background-color: #F0F0F0;
}

#button {
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#magnifier {
  margin-left: 0.1vw;
}

#legend {
  color: $custom-green;
  font-weight: bold;
  
}

select {
  font-weight: bold;
}

#checkboxAll {
  margin-left: 5%;
}

#checkboxAllText {
  width: 100px;
}

#checkbox-panel {
  width: 47%;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#checkbox-panel input, label {
  flex-basis: 12.5%;
}

#checkbox-panel label {
  font-size: 0.9em;
}



#mid-panel {
  width: 100%;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}

#checkbox-panel input {
  accent-color: $custom-green;
}


#mid-panel img {
  width: 30%;
  height: auto;
  margin-left: 5%;
}

tr {
  text-align: center;
  vertical-align: middle;
}

.scity,.sarea {
  min-width: 70px;
}

.sna {
  text-align: left;
}



.sbi, .bemp {
  color: $custom-green !important;
  font-weight: bold;
}

.table-custom-green {
  background-color: $custom-green  !important;
  color: white !important;
}

#divTable {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  border-radius: 1em;
}

.table-striped {
  border-collapse: collapse;
}

span {
  color: blue;
  text-decoration: underline;
}

span:hover {
  cursor: pointer;
}



.pagination {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.page, .active, .dot {
  margin-right: 5px;
  text-decoration: none;
  color: #3C3C3C;
}

.page, .active {
  border: 2.5px solid #E1E100;
}

.active {
  background-color: #E1E100;
}

.page:hover {
  background-color: #E1E100;
}
